<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee.dao.EmployeeDAO" >
	<resultMap type="employeeVO" id="employeeMap">
		<result column="empno" property="empno"/>
		<result column="eid" property="id"/>
		<result column="epassword" property="password"/>
		<result column="ename" property="name"/>
		<result column="eage" property="age"/>
		<result column="ehp" property="hp"/>
		<result column="e_email" property="email"/>
		<result column="e_rank" property="rank"/>
	</resultMap>
	
	<resultMap type="memberVO" id="memberMap">
		<result column="cusno" property="cusno"/>
		<result column="empno" property="empno"/>
		<result column="cid" property="id"/>
		<result column="cpassword" property="password"/>
		<result column="cname" property="name"/>
		<result column="chp" property="hp"/>
		<result column="cpost" property="post"/>
		<result column="caddress" property="addr"/>
		<result column="cage" property="age"/>
		<result column="c_email" property="email"/>		
	</resultMap>
	
	<select id="loginEmployee" resultMap="employeeMap" parameterType="employeeVO" resultType="employeeVO">
		select * from employee
		 where empno = #{empno} and eid = #{id} and epassword = #{password}
	</select>
	
	<select id="myChargingCustomer" resultMap="memberMap" parameterType="int" resultType="memberVO">
		select * from customer
		 where empno = #{empno}
	</select>
	
	<insert id="employeeSignUp" parameterType="employeeVO">
		insert into employee values ( #{empno}, #{id}, #{password}, #{name},
		 	#{age}, #{hp}, #{email}, #{rank} )
	</insert>
	
	<select id="employeeCheckID" resultMap="employeeMap" parameterType="String"
			resultType="employeeVO">
		select eid
		  	from employee
		  where eid = #{id}
	</select>
	
	<select id="selectEmployeeAll" resultMap="employeeMap" resultType="employeeVO">
		select * from employee
		 where e_rank = '사원' or e_rank = '대리'
	</select>
	
	<update id="AssignCustomer" parameterType="memberVO">
		update customer set empno = #{empno}
			where cusno = #{cusno}
	</update>
</mapper>