<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO" >
	<resultMap type="memberVO" id="memberMap">
		<result column="cusno" property="cusno"/>
		<result column="empno" property="empno"/>
		<result column="cid" property="id"/>
		<result column="cpassword" property="password"/>
		<result column="cname" property="name"/>
		<result column="chp" property="hp"/>
		<result column="cpost" property="post"/>
		<result column="caddress" property="addr"/>
		<result column="cage" property="age"/>
		<result column="c_email" property="email"/>		
	</resultMap>
	
	<resultMap type="employeeVO" id="employeeMap">
		<result column="empno" property="empno"/>
		<result column="eid" property="id"/>
		<result column="epassword" property="password"/>
		<result column="ename" property="name"/>
		<result column="eage" property="age"/>
		<result column="ehp" property="hp"/>
		<result column="e_email" property="email"/>
	</resultMap>
	
	<select id="login" parameterType="memberVO" resultType="memberVO" resultMap="memberMap">
		select * from customer
		 where cid = #{id} and cpassword = #{password}
	</select>
	
	<insert id="signUp" parameterType="memberVO" >
		insert into customer( cusno, empno, cid, cpassword, cname, chp, cpost, caddress, cage, c_email)
		  values( #{cusno}, #{empno}, #{id}, #{password}, #{name}, #{hp}, #{post}, #{addr}, #{age}, #{email} )
	</insert>
	
	<select id="membercusno" resultType="memberVO">
		select cusno
			from customer
		 order by cusno 
	</select>
	
	<select id="checkid" parameterType="String"  resultType="memberVO">
		select * from customer
		 where cid = #{id}
	</select>
	
	<select id="myPageProfile" resultType="memberVO" resultMap="memberMap" parameterType="String">
		select cname, chp, caddress, cage, c_email
			from customer
		 where cid = #{id}
	</select>
	
	<select id="myChargedStaff" resultType="employeeVO" resultMap="employeeMap" parameterType="int">
		select ename, ehp, e_email
			from employee
		 where empno = #{empno}
	</select>
	
	<select id="selectByCusno" resultType="memberVO" resultMap="memberMap" parameterType="int">
		select * from customer
		 where cusno = #{cusno} 
	</select>
</mapper>